body{
    width: 95vw;
    height: 100vh;
   

  background-color: rgb(168, 218, 235); /* valfri färg */
}



header{
    grid-area: h;
    background-color: rgb(168, 218, 235);
    color: black;
    padding-left: 25%;
}

main{
grid-area: m;
background-color:  rgb(168, 218, 235);
color: black;
 font-size: 1.2rem;

}

aside{
grid-area: a;
background-color:   rgb(168, 218, 235);
color: black;
}

footer{
grid-area: f;
background-color:  rgb(168, 218, 235);
color: black;
}

#bildb{
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100%;
}

nav{
grid-area: n;
background-color:  rgb(168, 218, 235);
color: black;
 font-size: 1.2rem;

}
.info{
grid-area: i;
background-color:  rgb(168, 218, 235);
color: black;
 font-size: 1.2rem;

}
#container{
display: grid;
height: 200%;
width: 98%;
grid-template-columns: 20% 20% 20% 20% 20%; 
grid-template-rows: 25% 25% 25% 25%;

grid-template-areas: 

". h h h ."
"a a . f f"
"n n . i i"
"m m m m m";

 gap: 10px;
 padding: 10px;
}

@media screen and (max-width:800px){

    #container{
   
   grid-template-rows: 20% 20% 20% 20% 20% 20%;
        grid-template-areas: 

"h h h"
"a a a"
"f f f"
"n n n"
"i i i"
"m m m";


    }
}