body{
    width: 95vw;
    height: 100vh;
}

header{
    grid-area: h;
    background-color: darkgreen;
color: white;
}

main{
grid-area: m;
background-color: royalblue;
color: white;

}

aside{
grid-area: a;
background-color: black;
color: white;
}

footer{
grid-area: f;
background-color: peru;
color: white;
}
nav{
grid-area: n;
background-color: salmon;
color: white;

}
.info{
grid-area: i;
background-color: rgb(160, 82, 73);
color: white;

}
#container{
display: grid;
height: 200%;
width: 98%;
grid-template-columns: 20% 20% 20% 20% 20%; 
grid-template-rows: 25% 25% 25% 25%;

grid-template-areas: 

"h h h h h"
"a a . f f"
"n n . i i"
"m m m m m";

 gap: 10px;
 padding: 10px;
}

@media screen and (max-width:800px){

    #container{
   
   grid-template-rows: 20% 20% 20% 20% 20% 20%;
        grid-template-areas: 

"h h h"
"a a a"
"f f f"
"n n n"
"i i i"
"m m m";


    }
}