body{

    height: 100vh;
}

header{
    grid-area: h;
    background-color: darkgreen;
color: white;
}

main{
grid-area: m;
background-color: royalblue;
color: blueviolet;

}

aside{
grid-area: a;
background-color: bisque;
color: violet;
}

footer{
grid-area: f;
background-color: peru;
color: whitesmoke;
}
nav{
grid-area: n;
background-color: salmon;
color: whitesmoke;

}
#container{
display: grid;
Height: 100%;
grid-template-columns: 33% 33% 33%; 
grid-template-rows: 40% 20% 40%;

grid-template-areas: 

"h h m"
"a a a"
"f . n";
}

@media screen and (max-width:800px){

    #container{
   
   grid-template-rows: 50% 50% 25% 50% 50%;
        grid-template-areas: 

"h h h"
"m m m"
"a a a"
"f f f"
"n n n";


    }
}